<section class="border-white/20 border-b bg-black">
  <div class="text-center">
    <a
      href="https://mail.google.com/mail/?view=cm&fs=1&to=achusidesmond4@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
      class="inline-flex items-center justify-center w-full lg:py-20 py-10 px-4 text-3xl lg:text-6xl font-black uppercase text-white bg-[#ff5f1f] border-2 border-[#ff5f1f] rounded-full duration-300 hover:bg-black hover:text-[#ff5f1f] focus:outline-none"
    >
      Secure Your Operations Today
    </a>
  </div>
  
  <div class="flex flex-col items-center justify-center gap-4 pb-8 mt-4">
    <p class="text-white/40 text-center uppercase text-xs tracking-widest font-mono">
    </p>
    
    <a 
      href="https://open.spotify.com/show/4qINGf2uSO37vdnuoFJYXd" 
      target="_blank" 
      rel="noopener noreferrer"
      class="text-[#ff5f1f] uppercase text-[10px] tracking-[0.2em] font-mono hover:underline transition-all"
    >
      Podcast: Moments with Desmond 
    </a>
  </div>
</section>