<section class="border-white/20 border-b bg-black">
  <div class="bg-transparent duration-200 group hover:bg-[#ff5f1f]/10">
    <a
      href="mailto:achusidesmond4@gmail.com"
      class="text-white text-center items-center uppercase font-black w-full bg-[#ff5f1f] duration-300 focus:outline-none h-auto inline-flex justify-center lg:py-20 lg:text-6xl px-4 py-10 rounded-full text-3xl hover:bg-black hover:text-[#ff5f1f] border-2 border-[#ff5f1f]"
      >Secure Your Operations Today</a
    >
  </div>
  <p class="text-white/40 text-center pb-8 uppercase text-xs tracking-widest font-mono">
    Available for Cybersecurity Roles & IT Infrastructure Projects
  </p>
</section>