---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/landing/Hero.astro";
import Metrics from "@/components/landing/Metrics.astro";
import About from "@/components/landing/About.astro";
import Work from "@/components/landing/Work.tsx";
import Services from "@/components/landing/Services.astro";
import Skills from "@/components/landing/Skills.astro";
import Intro from "@/components/landing/Intro.astro";
import Testimonials from "@/components/landing/Testimonials.astro";
import CTA from "@/components/landing/CTA.astro";
---

<BaseLayout>
  <main class="bg-[#0a0a0a]">
    <Hero />

    <Metrics />

    <About />

    <Work client:load />

    <Services />

    <Skills />

    <Intro />

    <Testimonials />

    <CTA />
  </main>
</BaseLayout>